<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spider</title>
</head>
<body>
<div class="box">
    <% for(var i=0; i<imgs.length; i++){%>
        <img src="<%=imgs[i] %>" />
   <% } %>
   
</div>
<script>

</script>
</body>

</html>